.post-footer {
    font-weight: 400;
    display: flex;
    margin: 10px 10px;
}

.post-footer-details-left {
    width: 80%;
}

.post-footer-details-right {
    text-align: end;
    width: 20%;
}

.post-footer-details-left .username {
    font-weight: 700;
} 

.likes {
    font-weight: 700;
}