.user-details-header-left {
    width: 35%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 800px){
    .user-details-header-left {
        width: auto;
        padding: 0px;
    }
}