.post-header {
    display: flex;
    align-items: center;
    height: 50px;
}

.user-name {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.user-name .location {
    font-size: small;
    font-weight: 400;
}